body {
  background-color: lightgoldenrodyellow;
}
.Signupbox-wrap {
  background-color: white;
  width: 700px;
  height: 1100px;
  margin: 100px 0;
  position: absolute;
  left: calc(50% - 350px);
  top: calc(50% - 550px);
  padding: 30px;
  border-radius: 8px;
}
.Signup-title h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-wrap {
  padding: 0 60px;
  position: relative;
}

.input-wrap .input {
  width: 100%;
  /* width 줄이고 margin 0 auto는 x? */
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(175, 175, 175);
  padding-left: 40px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}
.input-wrap .input:focus {
  border: 1px solid black;
}
.userid {
  background-image: url(../img/user-solid.svg);
}
.passwd {
  background-image: url(../img/lock-solid.svg);
}
.confirm-passwd {
  background-image: url(../img/check-solid.jpg);
}
.email {
  background-image: url(../img/envelope-solid.jpg);
}
.tel {
  background-image: url(../img/mobile-screen-button-solid.jpg);
}
.input-wrap .error {
  font-size: 14px;
  padding: 5px;
  color: red;
  height: 30px;
}
/* .input-wrap i{
  position: absolute;
  top: 12px;
  right: 70px;
  display: none;
} */

.fa-circle-check{
  position: absolute;
  top: 12px;
  right: 70px;
  display: none;
}

.change-error {
  color: red;
  display: block;
}

.change-correct {
  color: green;
  display: block;
}

.fa-circle-check.is-show {
  display: block;
}

.gender-wrap {
  height: 30px;
  display: flex;
  margin: 20px 0;
}
.gender-wrap input[type="radio"] {
  width: 15px;
  height: 15px;
  /* align */
}
.genderRadio{
  margin: 0 10px;
}
.region-wrap p{
  display: inline-block;
}
.hobby-wrap{
  margin: 30px 0;
}
.hobby-check-wrap{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 15px;
  gap: 4px;
  margin: 10px 0;
}
.hobby-check{
  margin-bottom: 10px;
}
.gender-wrap h4,
.region-wrap h4,
.hobby-wrap h4,
.introduction-wrap h4{
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
}
.button-wrap {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.login-page-link {
  font-size: 14px;
  line-height: 40px;
  align-content: center;
}
.button-wrap button {
  padding: 8px 25px;
  font-size: 15px;
  background-color: darkseagreen;
  color: white;
  border-radius: 3px;
  border: 1px solid darkseagreen;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.button-wrap button:hover {
  background-color: rgb(50, 120, 80);
  border: 1px solid rgb(50, 120, 80);
}
