/* 반응형 해놓기. */

header,
nav,
main,
footer {
  padding: 10px;
  border: 1px solid #eee;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo img {
  width: 350px;
}
.header-my {
  position: absolute;
  top: 25px;
  right: 30px;
}
.my-function {
  display: flex;
  justify-content: space-between;
}
.my-function li {
  margin: 10px 10px 0px 0px;
  font-size: 13px;
}
.search {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}
.search input {
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  width: 150px;
}
.search input:focus {
  outline: none;
}
/* ul */
.menu-wrap {
  display: flex;
  justify-content: center;
}
/* ul->li */
.main-menu > a {
  font-size: 16px;
  margin: 0 40px;
  padding: 2px 15px;
  box-shadow: inset 0px -0.7em 0 0 rgba(204, 208, 240, 0.5);
}
.main-menu > a:hover {
  box-shadow: none;
}
/* ul->li>ul */
.sub-menu {
  font-size: 16px;
  position: relative;
  left: 0;
  top: 10px;
  text-align: center;
  display: none;
  height: 170px;
}
.sub-menu li {
  margin-bottom: 10px;
}
.sub-menu a {
  font-size: 13px;
  box-shadow: none;
  padding: 5px 10px;
}
.sub-menu a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.main-img {
  position: relative;
  background-image: url(../img/mainimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.main-text {
  position: absolute;
  top: 45%;
  left: 15%;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.main-text h2 {
  font-size: 45px;
  font-weight: bold;
  font-family: "Lora", serif;
  letter-spacing: 15px;
}
.main-text p {
  font-family: "Lora", serif;
  letter-spacing: 5px;
}

.best-title,
.new-title,
.showroom-title {
  padding: 20px;
  margin: 15px 0 25px 0;
  text-align: center;
  font-size: 18px;
}
.best-title {
  margin-top: 20px;
}
.bestproduct,
.newproduct {
  display: flex;
  justify-content: center;
}
.product-wrap {
  margin: 0 5px;
}

.product-img-wrap {
  overflow: hidden;
}
.product-img-wrap img {
  width: 300px;
  height: 250px;
}
.product-wrap img:hover {
  transform: scale(1.1);
  transition: 0.1s;
}
.product-name {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 7px 0px;
}
.product-price {
  text-align: right;
  padding: 0 5px 10px 0;
  font-size: 14px;
}
.bestproduct .fa-angle-left,
.bestproduct .fa-angle-right,
.newproduct .fa-angle-left,
.newproduct .fa-angle-right {
  font-size: 30px;
  color: rgba(100, 100, 100, 0.7);
  line-height: 250px;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}
.product-function {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.want-review {
  line-height: 35px;
  text-align: center;
}
.want {
  margin-right: 7px;
}
.product-function {
  font-size: 14px;
  line-height: 35px;
  color: rgb(75, 75, 75);
}
.fa-basket-shopping {
  font-size: 20px;
  margin-right: 15px;
}
.fa-basket-shopping:hover {
  cursor: pointer;
}
hr {
  margin: 70px auto;
}
.showroom {
  width: 1370px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.showroom img {
  width: 450px;
}
.reservation {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 70px;
}
.reservation button {
  width: 120px;
  height: 50px;
  margin: 20px 0px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}
.reservation button a {
  color: white;
}
.reservation button:hover {
  border: 2px solid lightsteelblue;
  border-radius: 3px;
}

.footer-logo {
  text-align: center;
  margin: 20px 0;
}
.footer-logo img {
  width: 300px;
}
.information {
  font-size: 14px;
  text-align: center;
  margin: 40px auto;
}
.show {
  display: block;
}
/* .hide {
  display: none;
} */
